In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
data=pd.read_csv("/content/dailyActivity_merged.csv")
data.head()

           Id ActivityDate  ...  SedentaryMinutes  Calories
0  1503960366    4/12/2016  ...               728      1985
1  1503960366    4/13/2016  ...               776      1797
2  1503960366    4/14/2016  ...              1218      1776
3  1503960366    4/15/2016  ...               726      1745
4  1503960366    4/16/2016  ...               773      1863

[5 rows x 15 columns]

Checking for null values in the dataset

In [30]:
data.isnull().sum()

Id                          0
ActivityDate                0
TotalSteps                  0
TotalDistance               0
TrackerDistance             0
LoggedActivitiesDistance    0
VeryActiveDistance          0
ModeratelyActiveDistance    0
LightActiveDistance         0
SedentaryActiveDistance     0
VeryActiveMinutes           0
FairlyActiveMinutes         0
LightlyActiveMinutes        0
SedentaryMinutes            0
Calories                    0
dtype: int64

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

Converting the datatype of "ActivitiyDate" from object to datetime

In [32]:
data['ActivityDate']=pd.to_datetime(data['ActivityDate'])

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    datetime64[ns]
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(7)
memory usage: 110.3 KB

Generating variable for unique ids of users

In [24]:
unique_id=pd.unique(data["Id"])
len(unique_id)

33

In [35]:
new_cols = ['Id', 'ActivityDate', 'DayOfTheWeek', 'TotalSteps', 'TotalDistance', 'TrackerDistance', 'LoggedActivitiesDistance', 'VeryActiveDistance', 'ModeratelyActiveDistance', 'LightActiveDistance', 'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes', 'LightlyActiveMinutes', 'SedentaryMinutes', 'TotalExerciseMinutes', 'TotalExerciseHours', 'Calories']
data1 = data.reindex(columns=new_cols)
data1.head(5)

           Id ActivityDate  ...  TotalExerciseHours  Calories
0  1503960366   2016-04-12  ...                 NaN      1985
1  1503960366   2016-04-13  ...                 NaN      1797
2  1503960366   2016-04-14  ...                 NaN      1776
3  1503960366   2016-04-15  ...                 NaN      1745
4  1503960366   2016-04-16  ...                 NaN      1863

[5 rows x 18 columns]

In [36]:
data1['DayOfTheWeek']=data1['ActivityDate'].dt.day_name()

In [37]:
data1.head()

           Id ActivityDate  ... TotalExerciseHours  Calories
0  1503960366   2016-04-12  ...                NaN      1985
1  1503960366   2016-04-13  ...                NaN      1797
2  1503960366   2016-04-14  ...                NaN      1776
3  1503960366   2016-04-15  ...                NaN      1745
4  1503960366   2016-04-16  ...                NaN      1863

[5 rows x 18 columns]

In [40]:
data1['TotalExerciseMinutes']=data1['VeryActiveMinutes']+data1['FairlyActiveMinutes']+data1['LightlyActiveMinutes']+data1['SedentaryMinutes']
data1['TotalExerciseMinutes'].head()

0    1094
1    1033
2    1440
3     998
4    1040
Name: TotalExerciseMinutes, dtype: int64

In [42]:
data1['TotalExerciseHours']=data1['TotalExerciseMinutes']/60
data1['TotalExerciseHours'].head()

0    18.233333
1    17.216667
2    24.000000
3    16.633333
4    17.333333
Name: TotalExerciseHours, dtype: float64